.rating {
  width: 101.854px;
  height: 18px;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  min-width: 20px;
  cursor: pointer;
}

.circle.selected:after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}
.button-black {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #222;
  color: #fff;
  border: none;
  cursor: pointer !important;
  font-size: 16px;
  line-height: 20px;
}

.button-blue {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #5a31f4;
  color: #fff;
  border: none;
  cursor: pointer !important;
  font-size: 16px;
  line-height: 20px;
}

.more-options {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.more-options:hover {
  text-decoration: underline;
}
